<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bithyve.hexa">



    <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
   <uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WAKE_LOCK" />
<permission
      android:name="com.bithyve.hexa.permission.C2D_MESSAGE"
      android:protectionLevel="signature" />
  <uses-permission android:name="com.bithyve.hexa.permission.C2D_MESSAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop"
            >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter android:label="filter_react_native">
<action android:name="android.intent.action.VIEW" />
<category android:name="android.intent.category.DEFAULT" />
<category android:name="android.intent.category.BROWSABLE" />
<data android:scheme="https" android:host="prime-sign-230407.appspot.com" />
</intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />







                       <meta-data  android:name="com.dieam.reactnativepushnotification.notification_channel_name"
                               android:value="YOUR NOTIFICATION CHANNEL NAME"/>
                       <meta-data  android:name="com.dieam.reactnativepushnotification.notification_channel_description"
                                   android:value="YOUR NOTIFICATION CHANNEL DESCRIPTION"/>
                       <meta-data  android:name="com.dieam.reactnativepushnotification.notification_color"
                                   android:resource="@android:color/white"/>

                       <receiver
                           android:name="com.google.android.gms.gcm.GcmReceiver"
                           android:exported="true"
                           android:permission="com.google.android.c2dm.permission.SEND" >
                           <intent-filter>
                               <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                               <category android:name="com.bithyve.hexa" />
                           </intent-filter>
                       </receiver>
                       <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
                       <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver">
                           <intent-filter>
                               <action android:name="android.intent.action.BOOT_COMPLETED" />
                           </intent-filter>
                       </receiver>
                       <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationRegistrationService"/>
                       <service
                           android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerServiceGcm"
                           android:exported="false" >
                           <intent-filter>
                               <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                           </intent-filter>
                       </service>
                       <service
                           android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
                           android:exported="false" >
                           <intent-filter>
                               <action android:name="com.google.firebase.MESSAGING_EVENT" />
                           </intent-filter>
                       </service>
                       <meta-data
                           android:name="io.fabric.ApiKey"
                           android:value="2d0b58f102661fcabd3be54e6516854e2b0983f6"
                       />

    </application>

</manifest>
