<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813799407825-43doq8j5b766r656vlarhunjr4l95if8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813799407825-43doq8j5b766r656vlarhunjr4l95if8</string>
	<key>API_KEY</key>
	<string>AIzaSyA2jXhLuz52pfh1woa5pG4vDZGVab3v7xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>813799407825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.hexawallet.hexa</string>
	<key>PROJECT_ID</key>
	<string>hexa-7216a</string>
	<key>STORAGE_BUCKET</key>
	<string>hexa-7216a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813799407825:ios:99fa375e646e3ec2d845f0</string>
	<key>DATABASE_URL</key>
	<string>https://hexa-7216a.firebaseio.com</string>
</dict>
</plist>