<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002970291557-g1g8rl8i09d84rcmda06u9oghmvlohuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002970291557-g1g8rl8i09d84rcmda06u9oghmvlohuv</string>
	<key>API_KEY</key>
	<string>AIzaSyDFCX1bjO9DWD0WdNc6kG54ByR9wAMD5VI</string>
	<key>GCM_SENDER_ID</key>
	<string>1002970291557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.hexawallet.hexa.staging</string>
	<key>PROJECT_ID</key>
	<string>hexa-3f8a1</string>
	<key>STORAGE_BUCKET</key>
	<string>hexa-3f8a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002970291557:ios:a7b9e86424aa89d82f558c</string>
	<key>DATABASE_URL</key>
	<string>https://hexa-3f8a1.firebaseio.com</string>
</dict>
</plist>
