<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1009086953729-d7jq1oufutkj9ka2c8blr32obl4k58cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009086953729-d7jq1oufutkj9ka2c8blr32obl4k58cb</string>
	<key>API_KEY</key>
	<string>AIzaSyDBRnspMEQ-XV7Q6FxstnZ3jIoSQFFG0a8</string>
	<key>GCM_SENDER_ID</key>
	<string>1009086953729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bithyve.mymoney.staging</string>
	<key>PROJECT_ID</key>
	<string>my-money-232207</string>
	<key>STORAGE_BUCKET</key>
	<string>my-money-232207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009086953729:ios:a5cb2184678cba0b</string>
	<key>DATABASE_URL</key>
	<string>https://my-money-232207.firebaseio.com</string>
</dict>
</plist>